<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TestValue" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="scamps" providerName="System.Data.SqlClient" connectionString="Data Source=CARDION40246\SQLEXPRESS;Initial Catalog=scamps;Integrated Security=True;MultipleActiveResultSets=True"/>
    <!--     <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Hobbes-20161103095926;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Hobbes-20161103095926.mdf" />
-->
  </connectionStrings>
</configuration>
