<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TestValue" value="true" />
		<!--LDAP config-->
		<add key="LDAPurl" value="LDAP://ldap.chboston.org:389" />
		<add key="LDAPauthgroup" value="SCAMPSWEB_Users" />
		<add key="LDAPauthgroupdomain" value="CARDIO.CHBOSTON.ORG" />
		<add key="LDAPdomain" value="CARDIO.CHBOSTON.ORG,CHBOSTON.ORG" />
		
		<add key="LDAPssl" value="true" /> <!-- SSL? -->
		<!-- default ports: 389, 636 for ssl-->
		<add key="LDAPport" value="636" /> <!-- LDAP server port. -->

  </appSettings>
  <connectionStrings>
    <add name="scamps" providerName="System.Data.SqlClient" connectionString="Data Source=CARDION40246\SQLEXPRESS;Initial Catalog=scamps;Integrated Security=True;MultipleActiveResultSets=True"/>
    <!--     <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Hobbes-20161103095926;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Hobbes-20161103095926.mdf" />
-->
  </connectionStrings>
</configuration>
